# Git / IDE
.git/
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Project Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Mobile App (Enabling tracking but ignoring heavy folders)
# RiceApp/
RiceApp/node_modules/
RiceApp/android/build/
RiceApp/ios/build/
RiceApp/android/.gradle/
RiceApp/android/.idea/
RiceApp/.expo/
RiceApp/error.log

# Environment / Build
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
frontend/.env
frontend/dist/

# Logs
*.log
.npm/
.expo/
